
// Layout
// ==========================================================================
$fixed-container-width:         1024px;
$container-width:               1024px;
$grid-gutter:                   15px;
$grid-gutter-width:             2px; // for bootstrap layout

$full-container-bg:             #fff;


// Type
// ==========================================================================

$font-size-base:                14px;
$font-size-adjust:              15px;
$blog-font-size-base:			17px;
$font-size-lg:                  22px;
$font-size-sm:                  11px;
$blog-font-size-lg:				32px;
$blog-font-size-sm:				14px;

$blog-font-size-title: 			18px;

$font-size-jp:                  15px;

$text-color:                    $grey-9;
$grey-text-color:               $grey-5;
$font-family-base:              'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Source Sans Pro', Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
$font-family-jp:                'Spoqa Han Sans JP', 'Spoqa Han Sans', 'Source Sans Pro', Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;

$line-height-base:              1.5em;
$line-height-jp:                1.6em;
$hading-line-height-jp:         1.3em;


