---
layout: default
list-title: Write<br>Something
list-description: 다분히 주관적인 글을 씁니다.
header-img: "images/blog-bg.png"

---

{% if paginator.page == 1 %}
  {% assign base_path = '.' %}
{% else %}
  {% assign base_path = '..' %}
{% endif %}
  <div class="post-list">
    <ul class="post-list list-type-none">
      {% for post in paginator.posts %}
        {% if post.publish != false %}
        <a href="{{ post.url }}">

        <li class="list-item">
          <div class="list-item-info">
              <img class="post-list-img" src="{{ site.baseurl }}/{{ post.post-list-img }}" />

            <div class="post-list-text">
              <div class="post-list-title">{{ post.title }}
              </div>
              <div class="post-list-description">{{ post.description }} 
              </div>
              <div class="post-list-date">{{ post.date | date: "%Y/ %m/ %d" }}</div>
            </div>

          </div>
        </li>
        </a>
        <div style="clear: both;"></div>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div id="post-pagination" class="pagination clearfix">

  {% if paginator.previous_page %}
  <p class="previous">
  {% if paginator.previous_page == 1 %}
  <a href="/">이전 페이지</a>
  {% else %}
  <a href="/page{{paginator.previous_page}}">이전 페이지</a>
  {% endif %}
  </p>
  {% else %}
  <p class="previous disabled">
  <span>이전 페이지</span>
  </p>
  {% endif %}

  <ol class="pages">
  <li class="page">
  {% if paginator.page == 1 %}
  <span class="current-page">1</span>
  {% else %}
  <a href="/">1</a>
  {% endif %}
  </li>

  {% for count in (2..paginator.total_pages) %}
  <li class="page">
  {% if count == paginator.page %}
  <span class="current-page">{{count}}</span>
  {% else %}
  <a href="/page{{count}}">{{count}}</a>
  {% endif %}
  </li>
  {% endfor %}
  </ol>

  {% if paginator.next_page %}
  <p class="next">
  <a href="/page{{paginator.next_page}}">다음 페이지</a>
  </p>
  {% else %}
  <p class="next disabled">
  <span>다음 페이지</span>
  </p>
  {% endif %}

  </div>
